tigase-mobile-lib/bin/
tigase-mobile-lib/gen/
tigase-mobile-commons/bin/
tigase-mobile-commons/gen/
tigase-mobile-phone-free/bin/
tigase-mobile-phone-free/gen/
tigase-mobile-phone-pro/bin/
tigase-mobile-phone-pro/gen/
mobile-commons/target
mobile-core/target
mobile-phone-free/target
mobile-phone-pro/target
keystore.properties
mobile-phone-pro/bin
mobile-phone-pro/gen
mobile-commons/bin
mobile-commons/gen
mobile-core/bin
mobile-core/gen
mobile-phone-free/gen
mobile-phone-free/bin
