<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tigase.mobile"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name="MessengerApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".chatlist.ChatListActivity"
            android:label="@string/chat_list_title"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".vcard.VCardViewActivity"
            android:label="@string/contact_details"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".roster.AuthRequestActivity"
            android:label="Auth request"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".roster.ContactEditActivity"
            android:label="@string/contact_editor"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".TigaseMobileMessengerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessengerPreferenceActivity"
            android:label="@string/preferencesTitle" >
            <intent-filter>
                <action android:name="org.tigase.mobile.MessengerPreferenceActivity" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <service android:name=".service.JaxmppService" >
        </service>

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.providers.RosterProvider"
            android:authorities="org.tigase.mobile.db.providers.RosterProvider" >
        </provider>
        <provider
            android:name=".db.providers.ChatHistoryProvider"
            android:authorities="org.tigase.mobile.db.providers.ChatHistoryProvider" >
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>